node_modules
**/node_modules

.next
**/.next

dist
**/dist

build
**/build

coverage
**/coverage

.git
.gitignore

.vscode
.idea

.env
.env.*
!.env.example

*.log
*.tsbuildinfo

__pycache__
**/__pycache__
*.pyc

.DS_Store
Thumbs.db

.temp
temp
tmp
storage

~